@import "./Variables.scss";      
@import "bootstrap/scss/bootstrap";


body {
  margin: 0;
  font-family: 'Merriweather', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden; 
}

code {
  font-family: 'Merriweather', serif;
}

input,
textarea,
label {
  font-size: 1rem;
}

p {
  line-height: 1.5rem; 
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.contain {
  max-width: 1366px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.services {
  position: relative;
}

.services div {
  position: absolute;
  /* display: none; */
}

.services ul {
  display: block; /*any difference between 39 and 45*/
  padding: 25px 0px;
  white-space: nowrap;
}

.services ul li {
  display: block;
  padding-top: 10px;
  padding-left: 0px;
}

.services:hover div {
  display: block;
}

.navbar-right ul li {
  padding: 20px 20px;
  list-style: none;
  text-decoration: none;
}

.navbar-right ul li a {
  text-decoration: none;
  background-color: #448c7e;
  border-radius: 8px;
  padding: 10px 20px;
  color: white;
}

.navbar-right ul li a:hover,
.navbar-right ul li a:active {
  color: #448c7e;
  background-color: white;
  cursor: pointer;
}






