@import "./Variables.scss";

.viewport {
  height: 100vh;

  .row > * {
    padding-right: 0;
    padding-left: 0;

    hr {
      width: 95%;
      height: 1px;
      border: 1px solid black;
      margin: 20px auto;
    }
  }

  .container {
    margin-top: 20px;
    align-items: center;
  }

  .c-container {
    margin-top: 3rem;
    background-color: rgb(246, 242, 242);
    padding-bottom: 1rem;
    display: flex;
    width: 100%;
    justify-content: center;
  }
}

.contact-hr {
  margin-bottom: 2rem !important;
}

.c-info-icons {
  width: 1.2rem;
  height: 1.2rem;
}

.col-md-6 .c-form {
  background-color: rgb(255, 255, 255);
  padding: 25px 30px;
  border-radius: 4px;
}

.second-column {
  padding-bottom: 30px;
}

.c-title-contact {
  top: 1.5rem;
}

.c-contact-info {
  .c-text p {
    margin: 1.5rem;
    line-height: 0.6rem !important;
  }
}

.c-info {
  display: flex;
  justify-content: space-around;
}

.c-information {
  list-style: none;
  margin-right: 10px;
  display: flex;
}

.c-information img {
  list-style-type: none;
  margin-right: 5px;
  padding-bottom: 20px;
}

.c-text {
  font-size: 0.8rem !important;
  font-weight: 5000 !important;
}

.c-information p {
  font-size: 1rem !important;
  font-weight: 4000 !important;
  margin-right: 19px;
}

.grid-one,
.grid-two {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  margin: 10px 0 10px 0;
}

.message {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 6rem;
  height: 6rem;

  textarea {
    height: 200px;
    width: 800px;
  }
}

.c-btn {
  margin-top: 30px;
  padding: 10px 30px;
  border-radius: 10px;
  background-color: $primary-color;
  color: white;
}

.c-info-icons {
  color: #448c7e;
}

.c-fields {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 11.5px 0;
  label {
    font-size: 0.8 !important;
    position: absolute;
    padding: 6px 15px;
    transition: transform 0.5s ease;
  }

  input {
    border: 1px solid gray;
    padding: 6px;
    border-radius: 6px;
  }
  textarea {
    height: 200px;
    padding: 12px;
    border-radius: 6px;
  }
}

.error-message {
  font-size: 12px;
  color: red;
}

.c-fields .focus,
.filled label {
  transform: translateY(-80%) !important;
}

.filled label[for="Message"] {
  transform: translateY(-60%) !important;
}

.c-circle {
  color: black;
  top: 5%;
  width: 15px;
  height: 15px;
}

.c-quote {
  top: 100px;
  left: 340px;
}

.viewport {
  display: flex;
  justify-content: center;
  height: 100%;
  background-color: white;
  padding-top: 3rem;

  .row-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;

    .col-8 {
      padding-left: 20px;
      padding-right: 20px;
    }
  }

  .first-column,
  .third-column {
    background-color: #448c7e;
  }

  .first-column {
    border-radius: 10px 0 0 10px;
  }

  .third-column {
    border-radius: 0 10px 10px 0;
  }

  .contact-title {
    margin-top: 1rem !important;
    margin-bottom: 1rem;
  }

  .connect-with-us-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .c-span {
    margin-right: 18px;
  }

  .c-social-media {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 20px;
  }

  .grid-one,
  .grid-two {
    display: flex;
    justify-content: space-around;
  }

  .message-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .message-text {
    position: relative !important;
  }

  .message-text label {
    position: absolute !important;
    bottom: 400px !important;
  }
}

@media only screen and (max-width: 900px) {
  .row {
    --bs-gutter-x: 0px !important;
  }

  .c-info {
    padding-left: 0 !important;
    display: flex;
    flex-direction: column;
  }

  .c-information {
    margin-right: 0px;
    display: block;
    text-align: center;
  }

  .c-information p {
    margin-right: 0px;
  }

  .c-info-icons {
    color: #448c7e;
    font-size: 1.6rem;
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .grid-one,
  .grid-two {
    display: flex;
    flex-direction: column;
    margin: 0;
  }

  #Message {
    margin: 0;
    // padding: 12px;
  }

  .contact-label {
    padding: 0;
  }

  .c-fields input {
    width: 100%;
  }

  .grid-one,
  .grid-two {
    grid-gap: 0;
  }

  .connect-with-us-container {
    width: 100%;
  }

  .c-social-media {
    width: 100%;
  }
}
