@import "./Variables.scss";

.navbar {
    position: fixed; 
    top: 0; 
    z-index: 1001;
    background-color: $primary-color;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;

    .navbar-right,
    .navbar-left {
      display: flex;
    }
    
      .navbar-right ul {
         display: flex;
         align-items: center;
         padding: 30px;
     }

     .navbar { 
         background-color: $primary-color;
     }

     .navbar-brand {
        //  background: url("../images/dietrich-landcare.jpg") no-repeat center;
         background-size: cover; 
         height: 60px; 
         width: 70px;
         border-radius: 8px;
     }

     .nav-link {
         border-radius: 8px; 
     }

     .navbar .nav-link:hover,
     .nav-link.dropdown-toggle:hover,
     .nav-link.dropdown-toggle.show {
         color: $primary-color; 
         background: white; 
         &::after {
             transition:  border-top .2s ease, border-bottom .2s ease;
             border-top: 0;
             border-right: .3em dotted transparent;
             border-bottom: .3em dotted;
             border-left: .3em dotted transparent;
         }
     }

     .phone:hover {
         color: white !important; 
         background-color: white;
     }

    //  .background-dropdown-menu {
    //      position: absolute; 
    //      background-color: blue; 
    //      height: 300px; 
    //  }

     .dropdown-menu li {
         height: 40px; 
         z-index: 9999;
     }

     .nav-link.dropdown-toggle::after {
             border-top: .3em solid;
             border-right: .3em solid transparent;
             border-bottom: 0;
             border-left: .3em solid transparent; 
     }

     .nav-link[href^="tel"] {
         background: $primary-color; 
         margin-top: 4px; 
     }

     .nav-link[href^="tel"]:hover {
         color: $primary-color;
         align-items: center;
     }

     .nav-link[href^="tel"] svg {
         font-size: 1.2rem;
         margin-right: 3px;
     }

     .nav-link[href^="tel"] span {
         margin-top: 23px;
     }

     .nav-link svg {
         font-size: 32px; 
     }

     .navbar-toggler svg,
     .navbar-toggler {
         color: white; 
     }
}
  
@media(max-width: 1043px) {
    .nav-link {
        font-size: .7rem; 
    }
    .navbar-brand img {
        width: 40px; 
    }

    .nav-link svg {
        font-size: 1rem; 
        align-items: center; 
    }

    .nav-link[href^="tel"] svg {
        font-size: .8rem;
    }

    .nav-link[href^="tel"] {
        margin-top: 0; 
    }
}


