.payment-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1000;
}

.payment-content {
  width: 50%;
  height: 50%;
  border-radius: 10px;
  background: #fff;
  transition: all 2s;
}
