// .contact-radio-wrapper { 
//     width: 30rem; 
// }

// .contact-radio-button {
//     margin-top: 1rem; 
//     padding-top: 1rem; 
//     width: 15rem; 
// }

.radio {
    margin: 0 auto; 
}

.radio {
    .col-6 {
        display: flex; 
        flex-direction: column;
        align-items: start; 
    }
}

.contact-radio-btn p {
    font-size: .8rem; 
    font-weight: 1500;
}

.contact-label {
    font-size: .8rem; 
}

.radio-button-paragraph{
    font-size: .4rem; 
    padding: 0 .5rem; 
}

.contact-radio-button input {
    margin-left: 8rem; 
}

.contact-label {
    padding: 0 1rem;  
}

