.contact-radio-wrapper { 
    width: 30rem; 
}

.contact-radio-button {
    margin-top: 1rem; 
    padding-top: 1rem; 
    width: 15rem; 
}

.radio-button-paragraph{
    font-size: .4rem; 
    padding: 0 .5rem; 
}

.contact-radio-button input {
    margin-left: 8rem; 
}

.contact-label {
    padding: 0 1rem;  
}

