@import "./Variables.scss";

.slide-show-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.slide-show {
  position: relative;
  text-align: center;
  margin-bottom: 70px;
  // margin: 70px auto;
  height: 40vw;
  width: 100vw;
  object-fit: fill;
  background-size: cover;
  transition: background-image 2s ease-out;
  .gradient {
    position: absolute;
    height: 40vw;
    width: 100%;
    top: 0;
    left: 0;
    background: rgb(255, 255, 255);
    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0) 70%,
      rgba(0, 0, 0, 1) 100%
    );
  }

  h3 {
    margin: 0 auto;
    text-align: center;
    position: absolute;
    // bottom: 264px;
    font-size: 3rem;
    // left: 467px;
    color: white;
    border: 1px solid red;
  }

  .arrow-left-container {
    position: absolute;
    top: 230px;
    left: 70px;
    background-color: #fff;
    border-radius: 50%;
  }

  .arrow-right-container {
    position: absolute;
    top: 230px;
    right: 70px;
    background-color: #fff;
    border-radius: 50%;
  }

  .arrow-left {
    font-size: 27px;
    color: $primary-color;
  }

  .arrow-right {
    font-size: 27px;
    color: $primary-color;
  }
}

@media (max-width: 1043px) {
  .slide-show h3 {
    font-size: 1rem;
  }
}
