.tree-trimming-container {
    margin-top: 2rem;  
    display: flex; 
    flex-direction: column; 
    align-items: center; 
}

.tree-trimming-description img {
    width: 40rem;
    height: 18rem; 
    border-radius: 8px; 
    box-shadow: 5px 5px 5px gray;
}

h1 {
    display: flex;
    justify-content: center;  
}

.tree-trimming-description {
    width: 90%; 
    margin-left: 2rem; 
    margin-top: 3rem;
    margin-bottom: 2rem;
    display: grid; 
    grid-template-columns: auto auto;
    grid-column-gap: 2rem; 
}

.tree-trimming-description h3 {
    display: flex; 
    justify-content: center; 
}

.tree-trimming-image-description-bottom {
    width: 90%; 
}
